#index-search{
    background-image: url("./img/index-search.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nav-button-hover-change:hover {
    color: #0d6efd;
}

.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}