{% extends "base.html" %}

{% block title %}
    Query
{% endblock %}

{% block query_active %}
    active
{% endblock %}

{% block main %}
    
    <form class="container" action="{{ url_for('query.refined_query_result') }}" id="query-index-form">

        <div class="row py-3 my-3"></div>

        <div class="row row-cols-1 row-cols-md-2 border-bottom p-4 g-3">
            <div class="col text-center text-md-start">
                <h2>Countries</h2>
            </div>
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-light" type="button" id="query-index-clear-all-country">Clear all</button>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-6 p-4 g-3">
            {% for country in countries %}
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input country-input" type="checkbox" name="country" value="{{ country.acronym }}" id="{{country.acronym}}">
                    <label class="form-check-label" for="{{country.acronym}}">
                        {{ country.name }}
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row row-cols-1 row-cols-md-2 border-bottom p-4 g-3">
            <div class="col text-center text-md-start">
                <h2>Indicators</h2>
            </div>
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-warning" type="button" id="query-index-select-all-indicator">Select all</button>
                    <button class="btn btn-light" type="button" id="query-index-clear-all-indicator">Clear all</button>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 p-4">
            {% for category in categories %}
                <div class="col">
                    <h4 class="border-bottom py-3">{{category}}</h4>
                    {% for indicator in indicators %}
                        {% if indicator['category'] ==  category %}
                            <div class="row row-cols-1 row-cols-md-2">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input indicator-input" type="checkbox" name="indicator" value="{{ indicator.acronym }}" id="{{indicator.acronym}}">
                                        <label class="form-check-label" for="{{indicator.acronym}}">
                                            {{ indicator.label }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col text-white-50">
                                    <p>{{ indicator.unit }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="row row-cols-1 row-cols-md-2 border-bottom p-4 g-3">
            <div class="col">
                <h2>Period</h2>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 p-4 g-3">
            <div class="col">
                <h6>Start year</h6>
                <select class="form-select" name="start_year" id="start-year-input">
                    <option value="2029" selected>2029</option>
                    {% for year in range(2028, 1979, -1) %}
                        <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <h6>End year</h6>
                <select class="form-select" name="end_year" id="end-year-input">
                    <option value="2029" selected>2029</option>
                    {% for year in range(2028, 1979, -1) %}
                        <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row p-4 mb-3">
            <div class="col col-md-6 d-grid">
                <button type="submit" class="btn btn-primary btn-lg" type="button">Query</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/query_index.js') }}"></script>
{% endblock %}