{% extends "base.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block home_active %}
    active
{% endblock %}

{% block main %}
    
    <div class="d-flex flex-column justify-content-center text-light min-vh-100" id="index-search">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h1><i class="bi bi-database"></i> recon</h1>
                </div>
            </div>
            <div class="row justify-content-center my-3">
                <div class="col-md-8">
                    <p>
                        RECON (Real Economic Data) is the web application that allows people to see economic information quickly and easily.
                        We know how difficult it can be to get and understand this kind of info, so we summarized all the main macroeconomic
                        information that you need to comprehend the current situation of an ecomomy.
                    </p>
                </div>
            </div>
            <form action="{{ url_for('query.country_summary') }}" class="row justify-content-center">
                <div class="col-md-6">
                    <input type="text" class="form-control bg-transparent border-light" name="country" placeholder="Brazil" data-bs-theme="dark">
                </div>
                <div class="col col-md-2 my-3 my-md-0">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Inspired by the features examples: https://getbootstrap.com/docs/5.3/examples/features/-->
    <div class="container-fluid py-5 bg-dark text-white" data-bs-theme="dark">
        <div class="container">
            
            <div class="row pb-5 text-white-50">
                <div class="col border-bottom">
                    <h2>Free features</h2>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-5 pb-5">
                <div class="col d-md-flex flex-column align-items-start">
                    <h1><i class="bi bi-globe-americas text-primary"></i></h1>
                    <h3>Country summary</h3>
                    <p>Search for any country of your choice and get a summary with the main macroeconomic characteristics of that country, such as the inflation rate, GDP, unemployment, and other topics.</p>
                    <p class="mt-auto"><a class="link-offset-3" href="{{ url_for('base.index') }}">Start here</a></p>
                </div>

                <div class="col d-md-flex flex-column align-items-start">
                    <h1><i class="bi bi-lightning-fill text-primary"></i></h1>
                    <h3>Refined query</h3>
                    <p>Select multiple countries and macroeconomic indicators of your choice, visualizing only what you want to see at the moment. There are a lot of indicators and countries to explore.</p>
                    <p class="mt-auto"><a class="link-offset-3" href="{{ url_for('query.index') }}">Query here</a></p>
                </div>

                <div class="col d-md-flex flex-column align-items-start">
                    <h1><i class="bi bi-graph-up text-primary"></i></h1>
                    <h3>Stock market</h3>
                    <p>Look up any stock you want and be informed about the current situation of the stock market. Know what's up and what's down. Is this a bull market or bear market?</p>
                    <p class="mt-auto"><a class="link-offset-3" href="{{ url_for('stock_market.index') }}">See the market</a></p>
                </div>
            </div>


            <div class="row py-5 text-white-50">
                <div class="col border-bottom">
                    <h2>Members-only features</h2>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-5">
                <div class="col d-flex flex-column align-items-start justify-content-center gap-2">
                    <h3>Get more</h3>
                    <p>By becoming a member of our platform, you will have access to other features that will help you in your queries. Not only that, you will also be able to track your favorite stocks. Join now, it's free.</p>
                    <a class="btn btn-primary btn-lg" href="{{ url_for('auth.signup') }}" role="button">Register now</a>
                </div>
                <div class="col">
                    <div class="row row-cols-1 row-cols-sm-2 g-4">
                        <div class="col">
                            <h4><i class="bi bi-file-earmark-arrow-down-fill"></i> Download data</h4>
                            <p>Download your refined queries in a .csv file so you can use them as you like.</p>
                        </div>
                        <div class="col">
                            <h4><i class="bi bi-floppy-fill"></i></i> Save queries</h4>
                            <p>Save your queries so that you don't need to repeat the process again.</p>
                        </div>
                        <div class="col">
                            <h4><i class="bi bi-pie-chart-fill"></i></i> Stock portfolio</h4>
                            <p>Keep track of stocks that you've put in a stock portfolio. 100% customizable.</p>
                        </div>
                        <div class="col">
                            <h4><i class="bi bi-person-fill-gear"></i> Flexible account</h4>
                            <p>Unsubscribe or reset your account any time you want. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-5 text-white-50">
                <div class="col border-bottom">
                    <h2>Data sources</h2>
                </div>
            </div>
            
            <div class="row">    
                <div class="col-12 col-md-6">
                    <h3>International Monetary Fund (IMF)</h3>
                    <p>The International Monetary Fund (IMF) works to achieve sustainable growth and prosperity for all of its 190 member countries. It does so by supporting economic policies that promote financial stability and monetary cooperation, which are essential to increase productivity, job creation, and economic well-being. The IMF is governed by and accountable to its member countries.</p>
                </div>
                
                <div class="col-12 col-md-6">
                    <h3>Yahoo Finance</h3>
                    <p>Yahoo Finance delivers hours of live, daily market coverage, with expert analysis and real-time market data right in the app. It's the place for insight-driven investors, financial professionals and business leaders who take their money seriously.</p>
                </div>
            
            </div>
        </div>
    </div>
{% endblock %}